<!DOCTYPE html>
<html ng-app="game">
<head>
  	<title>Angular</title>
  	<!-- Latest compiled and minified CSS -->
  	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
  	<script src="angular.min.js"></script>
  	<script src="chemapp.js"></script>

  	<style>
  	.quiz-box {
  		position: absolute;
  		left: 80px;
  		top: 80px;
  		width: 140px;
  		height: 80px;
  		background-color: #ffffff;
  		text-align: center;
  	}

  	.quiz-answer {

  		font-size: 2em;
  	}
  	</style>

	<div id="wrapper" class="list-group" ng-controller='GameController as game'>

        <section class="tab" ng-controller="TabController as tab">
	    	<div ng-hide="tab.hasFeedback">	

		        <div>
	        		<div class="img-wrap">
	          			<img ng-src="{{tab.current.images[0]}}" />
			        </div>
		        </div>

				<ul class="nav nav-pills">
				  	<li ng-class="{ active: true }" ng-repeat="chemical in game.chemicals">
				    	<a href ng-click="tab.selectChemical($index)">{{chemical.name | limitTo: 12 }}</a>
				  	</li>
				</ul>
	  		</div>

	  		<div class="quiz-box" ng-show="tab.hasFeedback">
	  			<div class="quiz-answer">
	  				{{tab.feedback.answer}}
	  			</div>
	  			<button ng-click="tab.continue()">Continue</button>
	  		</div>
	  	</section>
  	</div>
</body>
</html>