<!DOCTYPE html>
<html ng-app="game">
<head>
  	<title>Angular</title>
  	<!-- Latest compiled and minified CSS -->
  	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
  	<script src="angular.min.js"></script>
  	<script src="chemapp.js"></script>

	<div id="wrapper" class="list-group" ng-controller='GameController as game'>

        <section class="tab" ng-controller="TabController as tab">
	    	<div class="list-group-item" >	

		        <div>
	        		<div class="img-wrap">
	          			<img ng-src="{{tab.current.images[0]}}" />
			        </div>
		        </div>

				<ul class="nav nav-pills">
				  	<li ng-class="{ active: true }" ng-repeat="chemical in game.chemicals">
				    	<a href ng-click="tab.selectChemical($index)">{{chemical.name | limitTo: 12 }}</a>
				  	</li>
				</ul>
	  		</div>
	  	</section>
  	</div>
</body>
</html>